<div class="container">
  <div class="search">
    <input type="text" placeholder="Search settings" />
    <div>15 Settings Found</div>
  </div>
  <div class="tab-menu">
    <div
      [class.active]="currentTab == tabMenu.user"
      (click)="selectTab(tabMenu.user)"
    >
      User Settings
    </div>
    <div
      [class.active]="currentTab == tabMenu.workspace"
      (click)="selectTab(tabMenu.workspace)"
    >
      Workspace Settings
    </div>
  </div>
  <div class="setting-panel" *ngIf="currentTab == tabMenu.user">
    <div class="settingTreeView">ddd</div>
    <div class="settingConfigs">
      <app-config
        *ngFor="let config of workspaceConfigs"
        [configItem]="config"
      ></app-config>
    </div>
  </div>
  <div class="setting-panel" *ngIf="currentTab == tabMenu.workspace">
    <div class="settingTreeView"></div>
    <div class="settingConfigs"></div>
  </div>
  <!--   
  <app-config
    *ngFor="let config of workspaceConfigs"
    [configItem]="config"
  ></app-config> -->
</div>
