.container {
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
}

.main {
  word-wrap: break-word;
}
.main > .main-config-name {
  font-weight: bold;
}

.main > .main-config-remark {
  font-weight: normal;
  opacity: 0.5;
}

.details {
  font-size: 0.8rem;
  opacity: 0.8;
}

.value > input {
  width: 30vw;
}

.value > select {
  width: 40vw;
  height: 30px;
}
